# Server Configuration
SERVER_PORT=8080

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=movie_db
DB_USER=root
DB_PASSWORD=mesucksalot1

# Redis Configuration
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SEARCH_CACHE_TTL=3600

# JPA Configuration (update, create, validate, none)
JPA_DDL_AUTO=update

# TMDB API Configuration
TMDB_API_KEY=4be043f7fe06cb3995961656ff751a1c
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p